body{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
}

.buscar{
    width: 100%;
    background: #eee;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

input{
    width: 90%;
    height: 50px;
    padding-left: 20px;
    font-size:22px;
    border: 4px solid #00e5ff;
    margin:15px;
    border-radius: 25px;
}

#listaVulnerabilidades{
    display: none;   
    width: 91%;
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
    top: 70px;
}

#listaVulnerabilidades li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:18px;
    color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 12px;
}

#listaVulnerabilidades li a:hover{
    background: #eee;
}

.item-name{
    margin-left:15px;
}

h1, p{
    margin-left: 5%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 8px solid #00e5ff;
    border-radius: 20px;
    max-height: 400px;
    max-width: 800px;
    cursor: pointer;
    margin-bottom: 40px;
}

#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 8px solid #00e5ff;
    border-radius: 20px;
    max-height: 1080;
    max-width: 1920px;
    margin-bottom: 20px;
}

.item-link{
    display: flex;
    padding-left: 40px;
    color: rgb(0, 38, 255)
}

.item-referencia{
    color: #ffffff;
}

.botao_filtrar_vulnerabilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 4px solid #00e5ff;
    border-radius: 25px;
    color: #000000;
    height: 60px;
    width: 80px;
    font-size:18px;
    cursor: pointer; 
    transition: background-color 0.2s; 
}

.botao_filtrar_vulnerabilidades:hover {
    background-color: #000000; 
    color: #ffffff;
}

.botao_filtrar_vulnerabilidades:active {
    background-color: #00e5ff;
}

.text_owasp_top_10_vulnerabilidades{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 30px;
}

.button_ir_para_criar_dados_vulnerabilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 4px solid #00e5ff;
    border-radius: 25px;
    color: #000000;
    height: 70px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; 
    transition: background-color 0.2s; 
    margin-left: 20px;
}

.button_ir_para_criar_dados_vulnerabilidades:hover {
    background-color: #000000; 
    color: #ffffff;
}

.button_ir_para_criar_dados_vulnerabilidades:active {
    background-color: #00e5ff; 
}
